# Python files
*.py linguist-detectable=true
*.py linguist-language=Python

# Ignore other files
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.xml linguist-detectable=false
